<nav>
    <div class="nav-wrapper cyan lighten-1">
      <img src="/images/map_pin.webp" width="65" height="65">
      <img src="/images/LEVART.png" width="220" height="65">
      <img src="/images/map_pin.webp" width="65" height="65">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#unless currentUser}}
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        {{/unless}}
          {{#if currentUser}}
          <strong><u>{{currentUser.name}} - {{currentUser.lastName}}</u></strong>
        <li><a href="/auth/logout">Logout</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>