<div class="container">
<div id="form">
  <h2>Create a Review</h2>
  <form action="/review/create" method="POST">

  <label> Date
      <input type="date" name="date" placeholder="Date" />
    </label> 

    <label> Creator
      <input type="text" name="creator" placeholder="Your Name" />
    </label>

    <label>Review
      <input type="text" name="review" placeholder="Your Review here" />
    </label>

    <button class="btn red darken-2" type="submit">Create</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</div>
