<div class="back-image">
    <div class="center">
        <div class="txt">
            <div>
                <h1>Welcome to Levart</h1>
            </div>
            <div>
                <h4>Enjoy your personal travelling memories, add the cities you´ve visited and write your experiences and reviews about</h4>
            </div>
        </div>
    </div>
    
</div>
<div class="about">
    <p>About us</p>
    <a href="https://www.linkedin.com/in/leslie-garcia-garcia/">Leslie Garcia</a>
    <a href="https://www.linkedin.com/in/alexis-tellez-garcia-ba256799/">Alexis Tellez</a>
</div>