<div class="details">
<h2>Review Detail</h2>


  <div class="borderS">
        <h4>Date: {{date}}</h4>
        <h4>Review: {{review}}</h4>
    </div>
    <a class="btn-large teal m20" href="/review/list">Back</a>
 

</div>