

<div class="container">
<div id="form">
  <h2>Edit Memento</h2>
  <form action="/memento/{{memento._id}}/edit" method="post">

    <label> Title
      <input type="text" name="name" placeholder="Memento title" value="{{memento.name}}" />
    </label>

    <label>Memento 
      <input type="text" name="description" placeholder="place your memories here" value="{{memento.description}}" />
    </label>

    
    <button class="btn-large teal" name="action" value="suggests">
        save changes
    </button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</div>
