<form action="/mementos/edit" method="post">
    <input type="text" name="title" placeholder="name">
    <input type="text" name="description" placeholder="name">
    <button type="submit">Save</button>
</form>